:root{
    --accent : red;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    color: black;
    background-color: #24252A;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* backend related stuff */
#header{
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 10vh;
    width: 100%;
    overflow-y: hidden;
}
.buttontype1{
    color: aliceblue;
    border: 1px solid white;
    padding: 0rem 1rem;
    margin: 0.5rem;
    background: transparent;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    backdrop-filter: blur(5rem);
}
.buttontype1:hover{
    background-color: var(--accent);
    box-shadow: 0px 0px 15px 1px var(--accent);
}
#ANIM{
    z-index: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
p{
    padding: 1rem;
    background-color: black;
    color: white;
    position: relative;
    font-size: 1.5rem;
}
#container{
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 0.1rem solid white;
    backdrop-filter: blur(5rem);
    min-width: 20%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 650px){
    .container{
        height: 8rem;
    }
    .card{
        width: max-content;
        height: 10rem;
    }
    .buttontype1{
        padding: 0rem 0rem;
        margin: 0px;
    }
    #tablecontainer{
        scale: 100%;
    }
}
.card:first-of-type{
    border-top-left-radius: 1rem;
}
.card:last-of-type{
    border-top-right-radius: 1rem;
}
.name{
    color: white;
    margin: 0.5rem;
    margin-bottom: 0rem;
    border: 0.1rem solid white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem;
}
.status{
    color: white;
    margin: 0.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 0.1rem solid white;
    padding: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
#table1{
    width: 10rem;
    height: 10rem;
    background-color: aliceblue;
    border-radius: 10rem;
    position: relative;
    left: 10rem;
    top: 10rem;
}
.person{
    position: relative;
    width: 2rem;
    height: 2rem;
    background-color: var(--accent);
    border-radius: 5rem;
    margin: 0px;
    padding: 0px;
    display: flex;
    overflow: visible;
}
.personactive{
    box-shadow: 0px 0px 15px 1px var(--accent);
}
#tablecontainer{
    scale: 150%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    height: 30rem;
    width: 30rem;
    padding: 0;
    margin: 0;
    display: flex;
}
.chopstick{
    position: relative;
    width: 0rem;
    height: 2rem;
    border: 0.1rem solid var(--accent);
    border-radius: 0.1rem;
    transition: all 0.5s;
}