/* for the title font */
@font-face {
    font-family: new;
    src: url(cur.ttf);
}

/* color variables */
:root{
    --Acolor: #A6D0DD;
    --Bcolor: #FF6969;
    --Ccolor: #FFD3B0;
    --Dcolor: #FFF9DE;
    --B: #232428;
    --L: #ECF0F1;
  }

  .linka:hover {
    color: red;
  }
  .linka{
    color: #23242A;
    transition: all 0.3s ease-in-out;
  }

html{
    scroll-behavior: smooth;
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* outer most div */
body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: var(--B);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* part of top most div */
#title{
    font-family: new;
    background: transparent;
    font-size: 2rem;
    color: #ECF0F1;
}
main {
    margin-top: 80px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
  }
header {
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 10px; */
  }
  
  nav ul {
    background: transparent;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    background: transparent;
    margin-left: 1rem;
    padding: 1rem;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav a {
    background: transparent;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .aactive{
    border-bottom: 0.2rem solid red;
    color: red;
    box-shadow: 0px 0px 45px 1px black;
  }
  
  nav a:hover {
    color: red;
  }

h1{
    text-align: center;
    font-family: TitleFont;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    margin-left: 10%;
    border-radius: 15px;
    margin-right: 10%;
    background: transparent;
    color: var(--L);
}

/* left side div */


/* input boxes div */
#sfsInput{
    padding: 50px 40px;
    margin: 15% 15% 0px 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.InputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.InputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242A;
    font-size: 20px;
    z-index: 10;
}
.InputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 18px;
    color: rgb(143, 143, 143);
    pointer-events: none;
    transition: 0.5s;
    z-index: 9;
}
.InputBox input:valid ~ span,
.InputBox input:focus ~ span,
.InputBox input:disabled ~ span{
    color: red;
    transform: translateY(-34px);
    font-size: 12px;
}
.InputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ECF0F1;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.InputBox input:valid ~ i,
.InputBox input:focus ~ i,
.InputBox input:disabled ~ i{
    height: 44px;
}
#Submit{
    background-color: red;
    color: #ECF0F1;
    cursor: pointer;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
#Submit:hover{
    background-color: rgb(136, 0, 0);
}

/* general button type */
.buttontype1{
    padding: 12px;
    background-color: #ECF0F1;
    text-decoration: none;
    border: 0.1rem solid #ECF0F1;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
    color: #23242A;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.buttontype1:hover{
    box-shadow: 0px 0px 15px 1px #ECF0F1;
}
#buttoncontainer{
    display: flex;
    flex-direction: row;
}

/* right side div */
#tablecontainer{
    margin: 5%;
    padding: 3rem;
    height: max-content;
    box-shadow: -30px 30px 105px 1px #23242A;
    border-radius: 1rem;
    opacity: 0%;
    transition: all 0.5s;
    width: max-content;
    transform: translateX(4rem);
}
#tablecontainer1{
    margin: 5%;
    padding: 3rem;
    height: max-content;
    box-shadow: -30px 30px 105px 1px #23242A;
    border-radius: 1rem;
    opacity: 0%;
    transition: all 0.5s;
    width: max-content;
    transform: translateX(4rem);
}
#tables{
    display: flex;
    flex-direction: row;
}
#Tablediv{
    opacity: 0%;
    transform: translateX(5rem);
    transition: all 1s;
}

table{
    /* border: 1px solid #23242A; */
    border-spacing: 0;
    border-radius: 5px;
    transition: all 0.5s;
}
th{
    font-family: 'Courier New', Courier, monospace;
    color: #23242A;
    background-color: #ECF0F1;
    padding: 15px;
    border: 1px solid #ECF0F1;
}
th:first-of-type{
    border-top-left-radius: 5px;
    border: 1px solid #ECF0F1;
}
th:last-of-type{
    border-top-right-radius: 5px;
    border: 1px solid #ECF0F1;
}
tr{
    transition: all 0.5s;
}
td{
    transition: all 0.5s;
    padding: 1rem;
    text-align: center;
    color: #ECF0F1;
    border:1px solid #ECF0F1;
}

/* #answercontainer{
    display: flex;
    transform: scaleY(0%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid white;
    margin: 1% 10%;
    padding: 1%;
    border-radius: 1rem;
    background-color: #ECF0F1;
    transition: all 0.1s;
} */
#pageFaults{
    background-color: #ECF0F1;
    width: max-content;
    padding:2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    color: #23242A;
    transform: scaleY(0%);
    transition: all 0.5s;
}

/* for the sake of responsive webpage */
@media screen and (max-width: 680px) {
    #title{
        font-size: 2rem ;
    }
    #header{
        width: 100%;
    }
    #inputcontainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tablecontainer{
        scale:60%;
        margin: 0rem;
    }
    #sfsInput{
        flex-direction: column;
    }
    #inputBox{
        margin: 35px 10px 35px 10px;
    }
    #head{
        flex-direction: column;
    }
}

#theory{
    /* height: 100vh;
    width: 100%; */
    background-color: var(--Bcolor);
    padding: 1%;
    /* transition: all 1s; */
}

#theorytitle{
    font-size: 3rem;
    margin-top: -1rem;
    transition: all 1s; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#TEXTDIV{
    margin: 5%;
    margin-top: 1%;
    background: transparent;
    transition: all 1s;
    color: var(--L);
}

#simulator{
    transition: all 1s;
    min-height: 100vh;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

.highlight{
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #edf2f4;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

#inputcontainer{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
#tablecontaine{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
}

#hide{
    background: var(--L);
    color: var(--B);
    height: 100%;
    margin: 0%;
    padding: 1rem;
    transition: all 1s;
}

@media screen and (max-width: 650px){
    #Simulator{
        grid-template-columns: 100%;
        grid-template-rows: 100% 100% 100%;
    }
    
    #inputcontainer{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #tablecontainer{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #chartcontainer{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}