:root{
    --gradientTop: red;
    --gradientBottom: black;
    --darkBg: #24252A;
    --accent: #edf2f4;
}

@font-face {
    font-family: cursive1;
    src: url(/cur.ttf);
}

html{
    scroll-behavior: smooth;
    height: 100%;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #24252A;
    overflow-y: hidden;
}

#TOPDIV{
    background: linear-gradient(180deg,var(--gradientTop),var(--gradientBottom));
    height: 110vh;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    transition: all 1s;
}
#HEADER{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1/2;
    /* background-color: #24252A; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive1;
    font-size: 3rem;
    color: #edf2f4;
    z-index: 1;
}

svg{
    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1/2;
    /* height: 150%; */
    width: 100%;
}
#INTRO{
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #edf2f4;
}

#CHECKOUT{
    padding: 1rem;
    border-radius: 1rem;
}

#BOTTOMDIV{
    background-color: var(--darkBg);
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 10% 80% 10%;
    /* background: linear-gradient(180deg,var(--gradientTop),var(--gradientBottom)); */
    background-color: rgb(0, 0, 0);
}

#NAVBAR{
    z-index: 2;
    background-color: black;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#HIGHLIGHTNAV{
    position:absolute;
    width: 22.5%;
    height: 10%;
    top: 0vh;
    left: 10%;
    /* background-color: red; */
    background: linear-gradient(180deg,var(--gradientTop),var(--gradientBottom));
    z-index: 0;box-shadow: 0px 0px 25px 1px red;
    transition: all 1s;
    
}

#ABOUTUS{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    background-color: #edf2f4;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

#PROJECTLIST{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.LISTOBJECT{
    background: transparent;
    z-index: 1;
    cursor: pointer;
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--accent);
    transition: all 1s;
}
.LISTOBJECT:hover{
    text-shadow: 0px 0px 25px #edf2f4;
}
.activeLISTOBJECT{
    /* background-color: #8d03f0; */
    /* box-shadow: 0px 0px 25px 1px #8d03f0; */
}
#INFODIV{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    /* background: transparent; */
    color: var(--accent);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: red;
}

#THEORYCONTAINER{
    /* background: transparent; */
    /* background: linear-gradient(180deg,var(--gradientTop),var(--gradientBottom)); */
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    transition: all 1s ease;
}

#TSJF{
    grid-row-start: 1;
    grid-row-end: 2;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70% 20%;
    grid-gap: 2rem;
}
#TDP{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    height: fit-content;
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 3fr 5fr 2fr;
    grid-gap: 2rem;
}

#TLOOK{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 75%;
    grid-gap: 2rem;
}

#TFCFS{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 45%;
    grid-gap: 2rem;
}

.highlight{
    /* background-color: rgb(0, 140, 255); */
    display: flex;
    justify-content: center;
    padding: 1rem;
    /* color: #edf2f4; */
    border-bottom: 0.1rem solid #edf2f4;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.CARD{
    border: 0.3rem solid #ffffff;
    background-color: #24252A;
    /* color: #24252A; */
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: -10px 10px 45px 1px #3c3c3c;
    margin-right: 2rem;
}

#BUTTONDIV{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    background: transparent;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: row;
}
.BUTTONOBJECT{
    width: 20%;
    cursor: pointer;
}
#TITLEOBJECT{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
    /* background-color: #edf2f4; */
    background: linear-gradient(180deg,var(--gradientTop),var(--gradientBottom));
    transition: all 1s;
    font-size: 1.5rem;
    color: var(--accent);
    font-weight:lighter;
}
#TITLEOBJECT:hover{
    
}


#about{
    display: flex;
    align-items:flex-start;
}
#aboutus{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border: 0.1rem solid #a2a2a2;
    backdrop-filter: blur(2rem);
    background: transparent;
    border-left: none;
    transition: all 0.1s;
    min-width: max-content;
    position:fixed;
    left: -150rem;
    bottom: 0px;
    z-index: 13;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0px 0px 45px 1px black;
}

.abouttext{
    font-size: larger;
    font-weight: 600;
    list-style: none;
    background: transparent; 
    padding: 1rem;
    color: #edf2f4;
}