<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='page.js')}}" defer></script>
    <!-- <link rel="stylesheet" href="/static/page.css">
    <script src="/static/page.js"></script> -->
</head>
<body>
<!------------------------------------------------------------------------------------------------>
    <!--First division (Goback button div) used to position the goBack button-->
    <body>

        <!-- top most div -->
        <header>
            <nav>
              <ul>
                <li><a class="linka" onclick="window.location.href='/';">Go back</a></li>
                <li ><a class="linka" onclick="window.location.href='/Sjf';" >Shortest Job Simulator</a></li>
                <li><a class="linka" onclick="window.location.href='/dinningP';">Dining Philosopher Simulator</a></li>
                <li><a class="linka" onclick="window.location.href='/look';">Look Clook Simulator</a></li>
                <li class="aactive"><a class="linka" onclick="window.location.href='/fcfs';">First Come First Serve Simulator</a></li>
              </ul>
            </nav>
        </header>
        <!-- center div -->
<main>
    <section id="theory">
        <!-- <h1 id="theorytitle">THEORY<button id="hide" onclick="HideTheory();">Hide</button></h1> -->
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Theory
          </button>
        <div class="collapse" id="collapseExample">
        <div id="TEXTDIV" >
            <div class="highlight">Definition: </div>
            In an operating system that uses paging for memory management, a page replacement algorithm is needed to decide which page needs to be replaced when a new page comes in. 
            <br><br>
            Page Fault: A page fault happens when a running program accesses a memory page that is mapped into the virtual address space but not loaded in physical memory. Since actual physical memory is much smaller than virtual memory, page faults happen. In case of a page fault, the Operating System might have to replace one of the existing pages with the newly needed page. Different page replacement algorithms suggest different ways to decide which page to replace. The target for all algorithms is to reduce the number of page faults. 
            <br><br>
            First In First Out (FIFO): This is the simplest page replacement algorithm. In this algorithm, the operating system keeps track of all pages in the memory in a queue, the oldest page is in the front of the queue. When a page needs to be replaced, the page in the front of the queue is selected for removal.
            <div class="highlight">Input:</div>
            pages: an array of integers representing page numbers accessed by the system
            <br><br>
            n: the total number of pages in the array
            <br><br>
            capacity: the maximum number of pages that can be held in memory at once
            <div class="highlight">Output:</div>
            page_faults: the number of page faults occurred during the simulation
            <br><br>
            page_change: an array depicting pages in memory during each iteration
        </div>
    </div>
    </section>
    <h1>Simulator</h1>
    <section id="simulator">
        <div id="inputcontainer">
                <div id="sfsInput">
                    <div style="font-size: 1rem; background-color: #ECF0F1; border-radius: 1rem; padding: 1rem;"> INSERT VALUES HERE</div>
                    <div class="InputBox">
                        <input id="PID" type="number" required="required">
                        <span>Capacity</span>
                        <i></i>
                    </div>
                    <div id="buttoncontainer">
                        <button class="buttontype1" id="HeadIndex" onclick="Lock()">SET</button>
                        <button class="buttontype1" id="HeadIndex" onclick="UnLock()">RESET</button>
                    </div>
                    
                    <div class="InputBox">
                        <input id="pindex" type="number" required="required">
                        <span>Page</span>
                        <i></i>
                    </div>
                    <input id="Submit" type="submit" value="Input Values" onclick="InsertRow()">
                </div>
        </div>
        <div id="tablecontaine">
            <div id="tablecontainer">
                <button class="buttontype1" onclick="Calculate()">Calculate</button>
                <button class="buttontype1" onclick="createPDF()">Download</button>

                <table id="table1" class="tableStyle">
                    <thead>
                        <tr>
                            <th>Pages</th>
                        </tr>
                    </thead>
                </table>
                
        
            </div>
            <div id="tablecontainer1">
                <div id="pageFaults"></div>
                <div id="Tablediv">
                    <table id="final" class="tableStyle">
            
                    </table>
                </div>
        </div>
            </div>
        <!-- </div> -->
        
    </section>
</main>
    </body>
</html>