<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page.css')}}">
    <script src="{{ url_for('static', filename='page.js')}}" defer></script>
</head>
<body>
<!------------------------------------------------------------------------------------------------>
    <!--First division (Goback button div) used to position the goBack button-->
    <body>
        <!-- top most div -->
        <div id="header">
            <div id="title">
                First Come First Serve Page Replacement Algorithm
            </div>
        </div>
        <button class="buttontype1" style="position: absolute; left: 1rem; border-radius: 1rem;" onclick="window.location.href='/main';">GO back</button>
        <!-- center div -->
        <div id="inputcontainer">
    
            <!-- left most div -->
            <div id="inputareas">
                <div style="font-size: 1.5rem; background-color: #ECF0F1; border-radius: 1rem; padding: 1rem;"> INSERT VALUES HERE</div>
                <div class="InputBox">
                    <input id="PID" type="number" required="required">
                    <span>Capacity</span>
                    <i></i>
                </div>
                <div id="buttoncontainer">
                    <button class="buttontype1" id="HeadIndex" onclick="Lock()">SET</button>
                    <button class="buttontype1" id="HeadIndex" onclick="UnLock()">RESET</button>
                </div>
                
                <div class="InputBox">
                    <input id="pindex" type="number" required="required">
                    <span>Page</span>
                    <i></i>
                </div>
                <input id="Submit" type="submit" value="Input Values" onclick="InsertRow()">
            </div>
    
            <!-- right most div -->
            <div id="tablecontainer">
                <!-- <div id="tables"> -->
                    <table id="table1" class="tableStyle">
                        <thead>
                            <tr>
                                <th>Pages</th>
                            </tr>
                        </thead>
                    </table>
                <!-- </div> -->
                <button class="buttontype1" onclick="Calculate()">Calculate</button> 
            </div>
            <div id="tablecontainer1">
                <div id="pageFaults"></div>
                <div id="Tablediv">
                    <table id="final" class="tableStyle">
            
                    </table>
                </div>
            </div>
        </div>
    </body>

</html>