<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sjfstyles.css')}}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="/static/sjfstyles.css"> -->
</head>
<body>
<!------------------------------------------------------------------------------------------------>
    <!--First division (Goback button div) used to position the goBack button-->
    <header>
        <nav>
          <ul>
            <li><a class="linka" onclick="window.location.href='/';">Go back</a></li>
            <li class="aactive"><a class="linka" onclick="window.location.href='/Sjf';" >Shortest Job Simulator</a></li>
            <li><a class="linka" onclick="window.location.href='/dinningP';">Dining Philosopher Simulator</a></li>
            <li><a class="linka" onclick="window.location.href='/look';">Look Clook Simulator</a></li>
            <li><a class="linka" onclick="window.location.href='/fcfs';">First Come First Serve Simulator</a></li>
          </ul>
        </nav>
    </header>
<main>
<!------------------------------------------------------------------------------------------------>
    <!--Title -->
    <section id="theory">
        <!-- <h1 id="theorytitle">THEORY<button id="hide" onclick="HideTheory();">Hide</button></h1> -->
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Theory
          </button>
        <div class="collapse" id="collapseExample" style="background: transparent;">
        <div id="TEXTDIV">
            The shortest job first (SJF) or shortest job next, is a scheduling policy that selects the waiting process with the
            smallest execution time to execute next. SJN, also known as Shortest Job Next (SJN), can be preemptive or
            non-preemptive.<br><br>
            Characteristics of SJF Scheduling:
            <br>
            -Shortest Job first has the advantage of having a minimum average waiting time among all scheduling
            algorithms.<br>
            -It is a Greedy Algorithm.<br>
            -It may cause starvation if shorter processes keep coming. This problem can be solved using the concept of
            aging.<br>
            It is practically infeasible as the Operating System may not know burst times and therefore may not sort
            them. While it is not possible to predict execution time, several methods can be used to estimate the
            execution time for a job, such as a weighted average of previous execution times.<br><br>
            SJF can be used in specialized environments where accurate estimates of running time are available.
        </div>
        </div>
    </section>
    <h1>
        Simulator
    </h1>
    <section id="Simulator">
        <div id="inputcontainer">
            <div id="sfsInput">
                <!------------------------------------------------------------------------------------------------>
                    <!-- ID BOX
                    (Input: used to get input | span: for the text(for eg:ID,arrivaltime,bursttime) | i:for the white box which expands on click)-->
                    <div class="InputBox">
                        <input id="PID" type="number" required="required">
                        <span>ID</span>
                        <i></i>
                    </div>
                    <!------------------------------------------------------------------------------------------------>
                    <!-- ArrivalTime -->
                    <div class="InputBox">
                        <input id="AT" type="number" required="required">
                        <span>Arrival Time</span>
                        <i></i>
                    </div>
                    <!------------------------------------------------------------------------------------------------>
                    <!-- BurstTime -->
                    <div class="InputBox">
                        <input id="BT" type="number" required="required">
                        <span>Burst Time</span>
                        <i></i>
                    </div>
                    <!------------------------------------------------------------------------------------------------>
                    <!-- Submit button -->
                    <input id="Submit" type="submit" value="Input Values" onclick="addrow();">
            </div>
            <div id="tablebuttons">
                    <button class="buttontype1" onclick="resettable()">Reset Table </button>
                    <button class="buttontype1" onclick="data_extractor()">Calculate</button>
                    <button class="buttontype1" onclick="createPDF()">Download</button>
                </div>  
        </div>
        <div id="tablecontainer">
            <div id="Tablediv">
                <table id="table1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Arrival Time</th>
                            <th>Burst Time</th>
                            <th>Completion Time</th>
                            <th>TurnAround Time</th>
                            <th>Waiting Time</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <pre>
                <div id="average">
                </div>
            </pre>
        </div>
        <div id="chartcontainer">
            <h2 id="gc">GANTT CHART</h2>
            <button onclick="download()">Download as JPEG</button>
            <div id="container">
                <div id="chart" style="display:flex; flex-direction: row; margin: 0; height: 50px;"></div>
            </div>
        </div>
    </section>    
</main>
</body>
<script src="{{ url_for('static', filename='script.js')}}"></script>
<!-- <script src="/static/script.js"></script> -->
</html>